.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.full-width {
  width: 100%;
}

.btn-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.btn {
  background-color: #00964B !important;
  color: white !important;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #007c3a !important;
  transform: translateY(-2px);
}

.btn:active {
  background-color: #00632e !important;
  transform: translateY(0);
}
